.container{
  background-image: url("https://cdn.pixabay.com/photo/2019/12/24/08/47/leaf-paper-4716251_960_720.jpg");
  max-width: 550px;
  max-height: 100vh;
  border: 1px solid black;
  margin-bottom: 100px;
  padding: 80px;
}



